.failure {
    border: 2px solid red;
}
.success {
    border: default;
}
ul {
    list-style: none;
}

.container {
    background:lightgray;
    border-radius: 5px;
}
.innercontainer {
    padding:10px;
    margin-bottom:5px;
}